In [11]:
# remove pass staments in code
x = 1
if x > 0:
    print("x is positive")

x is positive

In [3]:
# break statement
a = 15
while a > 0:
    print(a, end=" ")
    a -= 1
    if a == 5:
        break

15 14 13 12 11 10 9 8 7 6

In [4]:
# continue statement
a = 15
while a > 0:
    a -= 1
    if a == 5:
        continue
    print(a, end=" ")

14 13 12 11 10 9 8 7 6 4 3 2 1 0

In [6]:
# use for loop instead of while loop
for i in range(15, 0, -1): # range(start, stop, step)
    print(i, end=" ")

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [8]:
# pass statement
for x in range(10):
    if x % 2 == 0:
        pass
    else:
        print(x, end=" ")

1 3 5 7 9

In [9]:
# contionue statement
for x in range(10):
    if (x ==3 or x == 7):
        continue
    else:
        print(x, end=" ")

0 1 2 4 5 6 8 9

In [12]:
a = 'zoom'
# print dtype of a
print(type(a))

<class 'str'>

In [14]:
# string in string
print(''' cc "I'm a string" ''')

 cc "I'm a string"

In [24]:
# excape characters
print('I\'m a string')
print("I'm a \nstring \\n")
print("I'm a \tstring \t")

I'm a string
I'm a
string \n
I'm a 	string

In [27]:
# place holder
print("I'm a string {}".format(1))
print("I'm a string %d"%(1))
print("I'm a string %s, I am not a string %s"%(1,2))

I'm a string 1
I'm a string 1
I'm a string 1, I am not a string 2

In [28]:
print("I'm a string {0}, I am not a string {1}".format(1,2))

I'm a string 1, I am not a string 2

In [29]:
print("I'm a float %.2f, to %e"%(1,2))

I'm a string 1.00, to 2.000000e+00

In [34]:
# slicing string
a = 'zoom'
print(a[0]) # first element
print(a[1:3]) # from 1 to 3
print(a[1:]) # from 1 to end
print(a[:3]) # up to but not including
print(a[-1]) # last element

z
oo
oom
zoo
m
mooz
zo

In [35]:
a = 'Hello World'
print(a[::-1]) # reverse
print(a[::2]) # string with step 2

dlroW olleH
HloWrd

In [36]:
# to upper and lower
a = 'Hello World'
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [37]:
# differnt between slicing and splitting
a = 'Hello World'
print(a.split(' ')) # split by space
print(a.split('o')) # split by o

['Hello', 'World']
['Hell', ' W', 'rld']

In [41]:
for i in a:
    print(i.upper(), end=" ")

H E L L O   W O R L D

In [43]:
for i in range(len(a)):
    print(a[i].upper(), end=" ")
    print(i, end=" ")

H 0 E 1 L 2 L 3 O 4   5 W 6 O 7 R 8 L 9 D 10

In [48]:
str1 = 'Hello '
str2 = 'World'
print(str1 + str2)

Hello World

In [49]:
# nest tuple
a = (1,2,3,4,5)
b = (6,7,8,9,10)
c = (a,b)
print(c)

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

In [51]:
tup = tuple(range(10))
tup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [52]:
# slicing tuple
tup = tuple(range(10))
print(tup[0])
print(tup[1:3])
print(tup[1:])

0
(1, 2)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [60]:
# tuple methods
tup = tuple(range(10))
print(tup.count(1))
print(tup.index(2))
# dir(tup)

1
2

In [59]:
a = 'Hello World'
print(a.find('l'))

2

In [61]:
# unpacking tuple
a = (1,2,3,4,5)
b,c,d,e,f = a
print(b)
print(c)

1
2

In [63]:
tup = (1,2,3,(4,5))
a,b,c,(d,e) = tup
print(d)

4

In [65]:
# list
a = [1,'e',3,4,5]
print(a)

[1, 'e', 3, 4, 5]

In [66]:
# list methods
a = [1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [68]:
# replace element
a = [1,2,3,4,5]
a[0] = 'a'
print(a)

['a', 2, 3, 4, 5]

In [70]:
# length of list
a = [1,2,3,4,5]
print(len(a))
'1' in a

5

False

In [72]:
a.extend([6,7,8])
a

[1, 2, 3, 4, 5, 6, 7, 8, 6, 7, 8]

In [74]:
a.append([6,7,8])
a

[1, 2, 3, 4, 5, 6, 7, 8, 6, 7, 8, [6, 7, 8], [6, 7, 8]]

In [77]:
# delete elements
a = [1,2,3,4,5]
del a[0]
a

[2, 3, 4, 5]

In [79]:
z = a.pop(0)
print(z)
a[0] = 'a'
print(a)
print(z)

a
['a', 5]
a